body{
    display: flex;
    /* background-color: white; */
    height: 98vh;
    background-image: url(./images/sticky-note-collection-with-to-do-list.jpg);
    background-size:contain;
}
main{
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.telaEsquerda{
    display:flex;
    width: 100%;
    height: 98vh;
}

.imgLogin{
    width: 100%;
    height: 98vh;
    
}

.telaDireita{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

fieldset{
    border: none;
}

.formulario{
    width: 400px;
    margin: auto;
}

.fullCard{
    
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
    /* background-color:#ffffff; */
    opacity: 0.9;
    border-radius: 5px;
    padding: 10px;
}

.cardTop{
    padding: 50px;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
}

.userImag{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.cardGroup > input{
    outline: 0;
    border-radius: 30px;
    padding: 5px;
    text-align: -webkit-center;
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.cardBotton{
    display: flex;
    flex-direction: column;
    
}

.title{
    font-family: cursive;
    font-size: 21px;
}


.checkBox{
    display: block;
    outline: 0;
    margin-left: 8px;
}

#checkbox{
    outline: 0;
}

.botoes{
    display: block;
    padding: 5px;
    justify-items: center;
    align-self: center;
    width: 300px;
    
}

#botaoEntrar{
    color:white; 
    font-style: inherit;
    font-family: cursive;
    display: block;
    background-image: linear-gradient(to right, red, gold);
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    border: 0px;
    outline: 0;
}

#botaoEntrar:hover{
    background-image: linear-gradient(to left, blue, violet);
}

#botaoCriarConta{
    color: solid, black;
    display: block;
    font-family: cursive;
    background-image: linear-gradient(to right, gray, white);
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
    width: 80%;
    border-radius: 30px;
    margin-inline: auto;
}

#botaoCriarConta:hover{
    background-image: linear-gradient(to left, white, rgb(0, 179, 0));
}

